h1{
    font-family: 'Saira', 'OpenSans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

div, p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

code, pre > div{
    font-family: "Operator Mono", monospace !important;
}

